.selected {
  background-color: #E8EEF7;
}

@sprite .expanded {
  gwt-image: 'collapse';
  background: transparent collapsedUrl no-repeat;
  background-position: 2px 5px;
  padding-left: 15px;
}

@sprite .collapsed {
  gwt-image: 'expand';
  background: transparent collapsedUrl no-repeat;
  background-position: 2px 5px;
  padding-left: 15px;
}

@sprite .loading {
  gwt-image: 'loading';
  background: transparent loadingUrl no-repeat;
  background-position: center center;
  margin: 20px auto;
}

@sprite .error {
  gwt-image: 'error';
  background: transparent errorUrl no-repeat;
  background-position: 3px 2px;
  background-color: red;
  padding-left: 18px;
  height: 17px;
  color: white;
  font-weight: bold;
  width: auto;
}

@sprite .showHide {
  gwt-image: 'showHide';
  background: transparent showHideUrl no-repeat;
  background-position: 50% 50%;
}

.parameterFormNameCell {
  padding-top: 4px !important;
  padding-right: 0 !important;
  text-align: right;
  white-space: nowrap;
}

.parameterFormTextBoxCell {
  width: 100%;
}

.parameterFormTextBoxCell input {
  border: 1px solid #666;
}

.parameterFormDescriptionCell {
  font-size: 12px;
  color: #666;
  padding-bottom: 10px !important;
}

.jsonNull {
  color: #800;
}

.jsonNumber,
.jsonBoolean {
  color: #008;
}

.jsonString {
  color: #080;
}

a.jsonStringLink{
  color: #4272DB;
}

@sprite a.jsonStringExplorerLink {
  gwt-image: 'magnifyingGlass';
  background: transparent magnifyingGlassUrl no-repeat;
  background-position: 100% 50%;
  padding-right: 17px;
  color: #4272DB;
}

.jsonKey,
.jsonObject,
.jsonArray {
  /* Reserved for future use. */
}

.responseLine {
}

.addParameter {
  cursor: pointer;
  color: #4272DB;
  position: relative;
  float: right;
  margin-bottom: -18px;
  padding-top: 3px;
  padding-right: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.removeParameter {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: -18px;
  padding-right: 5px;
}

.invalidParameter {
  background-color: #ffb2b2;
}
